<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        &copy; {{ 'now'|date('Y') }} <em>fagathe-dev.fr</em>
      </div>
      <div class="col-sm-6">
        <div class="text-sm-end d-none d-sm-block">
          Développé et conçu avec <i class="mdi mdi-heart text-danger"></i> par <a href="http://fagathe-dev.fr">fagathe-dev</a>
        </div>
      </div>
    </div>
  </div>
</footer>