<!DOCTYPE html>
<html lang="fr" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>

  <title>Velzon - Admin & Dashboard Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
  <meta content="Themesbrand" name="author" />
  <!-- App favicon -->
  <link rel="apple-touch-icon" href="{{ asset('images/logo.webp') }}" type="image/webp" >
  <link rel="icon" href="{{ asset('images/logo.webp') }}" type="image/webp" >
  
  <!-- Layout config Js -->
  <script src="assets/js/layout.js"></script>
  <!-- Bootstrap Css -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <!-- Icons Css -->
  <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />
  <!-- custom Css-->
  <link href="assets/css/custom.min.css" rel="stylesheet" type="text/css" />
  <!-- Style Css-->
  <link href="css/style.css" rel="stylesheet" type="text/css" />

  <!--Swiper slider css-->
  <link href="assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
  {% block stylesheets %}{% endblock %}

</head>

<body>

  <!-- Begin page -->
  <div class="layout-wrapper landing">
    {% include "layouts/partials/navbar.html.twig" %}
    {% if banner is defined %}
      <section class="hero-section">
        <div class="profile-wid-bg profile-setting-img">
          <img src="assets/images/profile-bg.jpg" srcset="assets/images/profile-bg.jpg" class="profile-wid-img" alt="Background Cover Image">
          <div class="overlay-content">
            <div class="container">
              <div class="pt-4 mb-4 mb-lg-3 pb-lg-4 profile-wrapper">
                <div class="row g-4">
                  <div class="col-auto">
                    <div class="avatar-lg">
                      <img src="assets/images/users/avatar-1.jpg" alt="user-img" class="img-thumbnail rounded-circle">
                    </div>
                  </div>
                  <!--end col-->
                  <div class="col">
                    <div class="p-2">
                      <h3 class="text-white mb-1">Anna Adame</h3>
                      <p class="text-white text-opacity-75">Owner &amp; Founder</p>
                      <div class="hstack text-white-50 gap-1">
                        <div class="me-2"><i class="ri-map-pin-user-line me-1 text-white text-opacity-75 fs-16 align-middle"></i>California, United States</div>
                        <div>
                          <i class="ri-building-line me-1 text-white text-opacity-75 fs-16 align-middle"></i>Themesbrand
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end col-->
                  <div class="col-12 col-lg-auto order-last order-lg-0">
                    <div class="row text text-white-50 text-center">
                      <div class="col-lg-6 col-4">
                        <div class="p-2">
                          <h4 class="text-white mb-1">24.3K</h4>
                          <p class="fs-14 mb-0">Followers</p>
                        </div>
                      </div>
                      <div class="col-lg-6 col-4">
                        <div class="p-2">
                          <h4 class="text-white mb-1">1.3K</h4>
                          <p class="fs-14 mb-0">Following</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end col-->
                </div>
                <!--end row-->
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
    {% if masthead is defined %}
      <section class="section nft-hero" id="accueil">
        <div class="bg-overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-10">
              <div class="text-center">
                <p class="display-6 text-white-50 lh-base mb-4 pb-2">
                  Hello, je suis
                </p>
                <h1 class="display-4 fw-medium mb-4 lh-base text-white">Frédérick AGATHE</h1>
                <h2 class="display-5 text-white">
                  Développeur d'application web 
                  <span class="text-success">fullstack (PHP/Javascript)</span>
                </h2>

                <div class="hstack gap-2 justify-content-center">
                  <a href="#a-propos" class="btn btn-primary">En savoir plus <i class="ri-arrow-down-line align-middle ms-1"></i></a>
                  <a href="#" class="btn btn-soft-primary">Téléchargez mon CV<i class="ri-download-2-line align-middle ms-1"></i></a>
                </div>
              </div>
            </div><!--end col-->
          </div><!-- end row -->
        </div><!-- end container -->
      </section>
    {% endif %}
    
    <section class="container py-3">
      {% include "layouts/partials/breadcrumb.html.twig" with {title: 'Whatever title !', pagetitle: 'Page Title'} %}
    </section>

    {% include "layouts/partials/footer.html.twig" %}

    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-info btn-icon landing-back-top" id="back-to-top">
      <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

  </div>
  <!-- end layout wrapper -->
  <!-- JAVASCRIPT -->
  <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/libs/simplebar/simplebar.min.js"></script>
  <script src="assets/libs/node-waves/waves.min.js"></script>
  <script src="assets/libs/feather-icons/feather.min.js"></script>
  <script src="assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
  <script src="assets/js/plugins.js"></script>
  <!-- App js -->

  <!--Swiper slider js-->
  <script src="assets/libs/swiper/swiper-bundle.min.js"></script>

  {% block javascripts %}
    
  {% endblock %}
</body>

</html>