{% extends "layouts/auth/layout.html.twig" %}

{% block header %}
  <h5 class="text-primary">{{ title is defined ? title : 'Espace d\'authentification' }}</h5>
  <p class="text-muted">Connexion</p>
{% endblock %}

{% block content %}
  {# {{ form(form) }} #}
{% endblock %}